@using PhoneBook.Helpers
@model IEnumerable<PhoneBook.Models.Contact>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhonesInLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailsInLine)
        </td>
        <td>
            <div class="pull-right">
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "Contact", routeValues: new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                &nbsp;
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Details", "Details", "Contact", routeValues: new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                &nbsp;
                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Delete", "Delete", "Contact", routeValues: new { id = item.Id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })

            </div>
        </td>
    </tr>
}